
*{
    margin: 0;
    padding: 0;
}

.body{
  
   background-color: #ffdfce;
user-select: none;
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #ffdfce;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem {
     width: 80%
     
}

 .cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    background: #ffdfce;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
 }

 .cabecalho-lista-item:hover{

   background: #ffffff;
   transition: background 1s;

 }

 .usuario{

    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

    background: #ffdfce;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    

 }

 .usuario:hover{

background: #ffffff;
transition: background 1s;

 }

.propaganda{

display: inline-block;
width: 1300px;
margin: 30px 20px;
}

.fila-um {

display: inline-block;
width: 250px;
margin: 0 40px;
}

.fila-um-letras{

    display: inline-block;
    margin: 10px 95px;
    font-size: 19px;

    background: #ffdfce;
    border: 1px solid #ffdfce;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.fila-dois{

    display: inline-block;
    width: 250px;
    margin: 20px 40px;
}

.fila-dois-letras{

    display: inline-block;
    margin: 10px 115px;
    font-size: 19px;

background: #ffdfce;
border: 1px solid #ffdfce;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}


.fila-tres{

    display: inline-block;
    width: 250px;
    margin: 20px 40px;
}

.fila-tres-letras{

    display: inline-block;
    margin: 10px 100px;
    font-size: 19px;

 background: #ffdfce;
border: 1px solid #ffdfce;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}

.fila-quatro{
 
    display: inline-block;
    width: 250px;
    margin: 20px 40px;

}

.fila-quatro-letras{

    display: inline-block;
    margin: 10px 111px;
    font-size: 19px;

    background: #ffdfce;
    border: 1px solid #ffdfce;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.rodape{

  background-color: #ffffff;

}

.rodape-letra{

    
    display: inline-block;
    margin: 40px  550px;

}

.informacao{
font-style: italic;
margin: 20px 500px;

background: #ffdfce;
border: 1px solid #555;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}

.informa{
font-style: italic;
margin: 20px 555px;

background: #ffdfce;
border: 1px solid #555;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}

.cinco-letras{

display: inline-block;
margin: 10px 104px;
font-size: 19px;

background: #ffdfce;
border: 1px solid #ffdfce;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}

.seis-letras{

display: inline-block;
margin: 10px 90px;
font-size: 19px;

background: #ffdfce;
border: 1px solid #ffdfce;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}


.HISTORIA{

margin: 40px 565px 0  565px;

}

.video{

display: inline-block;
margin: 0 350px  50px 350px;


}